<ul class="sidebar-menu" data-widget="tree">
    <li class="nav-devider"></li>
  {#   <li class="header nav-small-cap">MAIN</li>
    <li class="{{ controller=="dashboard"?'active' }} {{ controller }}">
        <a href="/dashboard">
            <i class="icon-home"></i> <span>Admin Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
        </a>
    </li> #}


    <li class=" {{ action=="earn"?'active' }} {{ action }}">
        <a href="/index/earn">
            <i class="em em-moneybag"></i> <span>Earn</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
        </a>
    </li>
    <li class=" {{ action=="borrow"?'active' }} {{ action }}">
        <a href="/index/borrow">
            <i class="em em-money_with_wings"></i> <span>Borrow</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
        </a>
    </li>



</ul>